<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %kvp%n"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>

    </appender>

    <root level="DEBUG">
        <appender-ref ref="console"/>
    </root>

    <logger name="json.logger" level="DEBUG">
        <appender-ref ref="console"/> <!--change it to new logger-->
    </logger>

</configuration>